@import "../../css-config/mixins.scss";
.main-content{
    max-width: calc(100% - 20px);
    margin: 0 auto;
    @include md{
        max-width: 1400px;
    }
}
#user{
    padding: 20px 20px ;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right , #8e2de2, #4a00c0);
    color: #fff;
}